{% extends "layout/base.html" %}

{% block content %}
<article class="uk-article">
  <h1 class="uk-article-title">
    {{post.title}}
  </h1>
  <p class="uk-article-meta">
     Written by Super User on {{post.updated|date:'Y.m.d H:i'}}. 
     Posted in <a href="{% url 'post_list' post.category.name %}"> {{post.category.name}} </a>
  </p>
  <p class="uk-text-lead"></p>
  
    {{post.body|safe}}
    <!-- <div class="uk-grid-small uk-child-width-auto" uk-grid>
      <div>
        <a class="uk-button uk-button-text" href="#">Read more</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="#">5 Comments</a>
      </div>
    </div> -->
</article>
{% endblock%}